/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.02.2019, 16:24:18
    Author     : Fabian Hupe
*/

html{
    font-family: Helvetica;
}

header{
    background-color: grey;
    overflow: hidden;
}

header #title{
    font-weight: bold;
    width: 90%;
}

header .nav:hover{
    background-color: greenyellow;
}

main{
    text-align: center;
    
}

.center{
    margin-left:auto;
    margin-right:auto;
    magin-bottom: auto;
    width: 60%;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-style: solid;
    border-width: 1px;
    border-color: rgb(206, 212, 218);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.filterLabel {
    margin-left: 1em;
}

.hotel {
    float: left;
}

.title{
    font-size: 1.75em;
    font-weight: bold;
    margin: 5%;
}

.field_top{
    width: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid;
    border-color: rgb(206, 212, 218);
    border-width: 1px;
    padding: 0.75em;
}

.field_middle{
    width: 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-color: rgb(206, 212, 218);
    border-width: 1px;
    border-top-width: 0px; 
    padding: 0.75em;
}

.field_bottom{
    width: 50%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-style: solid;
    border-color: rgb(206, 212, 218);
    border-width: 1px;
    border-top-width: 0px; 
    padding: 0.75em;
}

.button{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    width: 10em;
    margin: 0.5em;
    padding:    0.3em;
}

.error{
    font-weight: bold;
    color: red;
    text-align: left;
    padding:    0.25em;
    margin-left: 10%;
}

#zusatztext{
    margin-left: 10%;
    text-align: left;
    padding: 0.3em;
    
}

.text_left{
    text-align: left;
}

.text_left>button{
    text-align: center;
    align-content: right;
}

.text_left td{
    width: 50%;
}

#question{
    text-align: center;
}

.delete_button{
        margin-left: 9em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; 
        width: 10em;
        padding: 0.3em;
        margin-top: 1em;
}

.padding10{
    padding-top: 10%;
}

.hidden {
    visibility: hidden;
}

.erfolgreich{
    font-weight: bold;
}
span.sternebewertung { 
 float: Left; 
} 

span.sternebewertung:not(:checked) > input { 
 display: None; 
} 

span.sternebewertung:not(:checked) > label { 
 float: Right; 
 width: 1em; 
 padding: 0 .1em; 
 overflow: Hidden; 
 white-space: Nowrap; 
 cursor: Pointer; 
 font-size: 200%; 
 line-height: 1.2; 
 color: #D0D0D0; 
 text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, .1em .1em .2em rgba(0,0,0,.5); 
 transition: all .5s; 
} 

span.sternebewertung:not(:checked) > label:before { 
 content: '★ '; 
} 

span.sternebewertung > input:checked ~ label { 
 color: #FFD700; 
 text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5); 
} 

span.sternebewertung:not(:checked) > label:hover, 
span.sternebewertung:not(:checked) > label:hover ~ label { 
 color: #FFD700; 
 text-shadow: 1px 1px #F29E02, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); 
} 

span.sternebewertung > input:checked + label:hover, 
span.sternebewertung > input:checked + label:hover ~ label, 
span.sternebewertung > input:checked ~ label:hover, 
span.sternebewertung > input:checked ~ label:hover ~ label, 
span.sternebewertung > label:hover ~ input:checked ~ label { 
 color: #F9B500; 
 text-shadow: 1px 1px #F8BA01, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); 
}
